<!doctype html>

<html>
<head>
    <title>Clubbr</title>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = yes, maximum-scale=1.0">
    <link rel="icon" href="images/favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/clubbr.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/club_profile.js"></script>

    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

<!--    basic fixed navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top"> 
        {{> navbar}}
    </nav>

    <!--    Meat of Match Me -->
    <div class="container-fluid club-container">
        <div class="row">
            <h2 id="club-title">{{name}}</h2>

            <div class="club-img">
                <img class="img-responsive img-rounded" id="club-img" src="{{imageURL}}"></img>
        

                <h3 id="club-description">{{description}}</h3>

                <p id="learn-more">{{learn-more}}</p>

            </div>

        </div>
    </div>

    <!-- commento -->

    <!-- add to favorites buttons -->
    <div class="footer mid-align">
        <div class="club-buttons">
            <button id="show-events-btn" class="club-buttons btn btn-primary btn-lg full-width-button">Show events</button>
        </div>
        <div class="club-buttons">
          {{#if added}}
            {{#if displayIcon}}
            <!-- <button id="add-to-favorites-btn" class="club-buttons btn btn-primary btn-lg full-width-button disabled">Added to Favorites</button> -->
              <button type="button" class="btn btn-default btn-lg full-width-button disabled" id="add-to-favorites-btn" style="color: yellow; font-size: 30px;">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
              </button>
            {{else}}
              <button id="add-to-favorites-btn" class="club-buttons btn btn-primary btn-lg full-width-button disabled" style="font-size:30px">
                Added to Favorites
              </button>
            {{/if}}

          {{else}}
            {{#if displayIcon}}
              <button type="button" class="btn btn-default btn-lg full-width-button" id="add-to-favorites-btn" style="color: yellow; font-size: 30px;">
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
              </button>
            {{else}}
              <button id="add-to-favorites-btn" class="club-buttons btn btn-primary btn-lg full-width-button" style="font-size:30px">Add to favorites</button>
            {{/if}}

          {{/if}}
        </div>
    </div>

    <!-- Modal Popup Notifying That you added to your interests-->
    <div class="modal fade" id="yes-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="yes-modal-label"></h4>
          </div>
          <div class="modal-body" id="yes-modal-body">
            Would you like to see your favorited clubs?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="yes-modal-back-to-matching-btn" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" id="yes-modal-go-to-favorites-btn">Go to Favorites</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Popup Showing upcoming events for the club-->
    <div class="modal fade" id="upcoming-events-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="upcoming-events-modal-label"></h4>
          </div>
          <div class="modal-body" id="upcoming-events-modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    {{> googleAnalytics}}
</body>
</html>