<!doctype html>

<html>
<head>
	<title>Clubbr</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = yes, maximum-scale=1.0">
	<link rel="icon" href="images/favicon.ico">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/clubbr.css">
	<link href="css/orgs.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="/js/nav.js"></script>
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

<!-- 	basic fixed navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top"> 
    	{{> navbar}}
    </nav>

	<div class="container-fluid">
		<div class="row">
			<div class="search-container col-xs-8 col-xs-offset-2 col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1">
		        <form class="navbar-form" role="search">
			        <div class="input-group">
			            <input type="text" class="form-control" placeholder="Search" name="search" id="search">
			            <div class="input-group-btn">
			                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			            </div>
			        </div>
		        </form>
	        </div>
	        <div class="list-group col-xs-8 col-xs-offset-2 col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1">
			  {{#each clubs}}
			  	<!-- <a href="/clubprofile/{{id}}" id="club{{id}}" class="list-group-item">{{name}}</a> -->
			  	<a href="/clubprofile?id={{id}}" id="club{{id}}" class="list-group-item">{{name}}</a>
			  {{/each}}
			</div>
		</div>
	</div>


</body>
</html>
